.RegistrationPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 100px - 110px);
  padding: 20px 0;
  max-height: 100%;
  max-width: 1110px;
  margin: 0 auto;
  gap: 20px;
}


.RegistrationPage__formTips {
  color: orange;
}

.RegistrationPage__ItemWrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 20px;

}

.RegistrationPage__inputWrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 80px;
}

.RegistrationPage__inputWrapper label {
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.RegistrationPage__inputWrapper label:hover {
  color: red;
}

.RegistrationPage__inputWrapper input {
  font-size: 1.2rem;
}

.RegistrationPage__registrationLink {
  color: red;
}

.RegistrationPage__formButton {
  all: unset;
  display: block;
  text-align: center;
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(189, 189, 189, 0.6);
}

.RegistrationPage__formButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
