.CreateEventPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 100px - 110px);
  padding: 20px 0;
  max-height: 100%;
  max-width: 1110px;
  margin: 0 auto;
  gap: 10px;
}
label span{
  color:red;
}
.CreateEventPage__inputForm {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
    gap: 10px;
}
.CreateEventPage__inputForm input {
  font-size: 1.1rem;

}
.CreateEventPage__inputForm input:focus,
.CreateEventPage__inputForm input:hover,
.CreateEventPage__inputSelect:hover,
.CreateEventPage__inputSelect:focus {
  outline: red 5px auto;
  transition: .3s;
}
.CreateEventPage__inputDescription {
  width: 250px;
  height: 100px;
}

.CreateEventPage__inputContainer {
  display: flex;
  font-size: 1.2rem;
  gap: 20px;
  padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
  align-items: center;
  justify-content: space-between;
    width: 100%;
}

.CreateEventPage__inputSubmit {
  all: unset;
  margin: 0 auto;
  text-align: center;
    width: 80px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    outline: black 5px auto;
    font-size: 1.1rem;
}

.CreateEventPage__inputSubmit:focus,
.CreateEventPage__inputSubmit:hover {
  outline: red 5px auto;
}

.CreateEventPage__inputSelect,
.CreateEventPage__inputDate {
  cursor: pointer;
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 1.1rem;
}
.CreateEventPage__inputText {
  width: 400px;
}

.CreateEventPage__inputLink {
  width: 100px;

}

.CreateEventPage__inputNumber {
  width: 60px;
}
.CreateEventPage__inputDate {
  width: 150px;
}
.CreateEventPage__baseInfo {
  display: flex;
  gap: 20px;
}