.EloCalculatorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 100px - 110px);
  padding: 20px 0;
  max-height: 100%;
  max-width: 1110px;
  margin: 0 auto;
  gap: 10px;
}